<!-- In te laden libraries -->
<link href="css/font-awesome/css/font-awesome.css" 	rel="stylesheet">
<link href="css/bootstrap/css/bootstrap.css" 		rel="stylesheet">
<link href="css/style.css" 							rel="stylesheet"/>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="css/bootstrap/js/bootstrap.js"></script>
<!-- deze style is nodig vanwege de fixed-top navbar -->
<style type="text/css">body { padding-top: 70px; }</style>        